@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: #7CA40A;
    font-size: 30px;
}
h2 {
    font-size: 35px;
    text-align: center;
}
#container {
    margin-top: 0;
    padding:0;
}
#linkHome {
    text-decoration: none;
}
#traco {
    color: black;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    background-color: black;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 5px;
    
    
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
    
}
nav ul li a {
    color: #7CA40A;
    text-decoration: none;
    
}
#grupoLogo {
    left: 0;
    position: absolute;
    display: flex;
}
#tabela {
    display: grid;
    justify-content: center;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}
#tabela img {
  width: 35vw;
  height: 40vh;
}
